.header {
    /*width: 100%;*/
    /*float: left;*/
}

.head-link {
    position: fixed;
    height: 50px;
    top: 92px;
    left: 0px;
    right: 0px;
    background-color: whitesmoke;
    z-index: 1
}