p {
    display: inline;
    flex-wrap: wrap;
    font-family: "Times New Roman";
    font-size: 20px;
}

.indent {
    /*padding-left: 100px*/
    text-indent: 50px
}

h1 {
    font-size: 40px;
    text-align: left;
    color: black
}

b {
    font-size: 20px;
    display: inline;
    font-weight: bold;
    color: black
}

label {
    color: #4169E1
}

br {
}

